<div class="page-header">
	<h1>All Contracts</h1>
</div>

<%= link_to 'Create New Contract', new_contract_path, class: "btn btn-success" %>

<% @contracts.each do |contract| %>
  <div class="contract">
    <strong>Client: <%= contract.client %> </strong>
    <p>Opportunity Link: <%= contract.opportunity_link %> </p>
    <p>Start Date: <%= contract.contract_start %> </p>
    <p>End Date: <%= contract.contract_end %> </p> 
    <div class="meta">
    <%= link_to "SOWs", contract %>
      <span class="admin"> 
      | <%= link_to "Edit", edit_contract_path(contract) %> |
      <%= link_to "Delete", contract, method: :delete, data: {confirm: "Whoa, do you really want to delete this?? You're so crazy/handsome."} %>
      </span>
    </div>
  </div>
<% end %>

 


