<p>
  <strong>Client:</strong>
  <%= @contract.client %>
</p>
 
<p>
  <strong>Opportunity:</strong>
  <%= @contract.opportunity_link %>
</p>

<h2>Statements of Work</h2>
<% @contract.statement_of_works.each do |statement_of_work| %>
  <p>
    <strong>Statement of Work:</strong>
    <%= statement_of_work.description %>
  </p>
 
  <p>
    <li>Product One: <%= statement_of_work.product1 %></li>
    <li>Product Two: <%= statement_of_work.product2 %></li>
    <li>Product Three: <%= statement_of_work.product3 %></li>
  </p>
<% end %>

<br></br>

<h3>Add a Statement of Work:</h3>
<%= form_for([@contract, @contract.statement_of_works.build]) do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :product1 %>
    <%= f.check_box :product1 %>
  </p>
  <p>
    <%= f.label :product2 %> 
    <%= f.check_box :product2 %>
  </p>
    <p>
    <%= f.label :product3 %>
    <%= f.check_box :product3 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Edit', edit_contract_path(@contract) %>
<%= link_to 'Back', contracts_path %>