<h2>Add a Statement of Work:</h2>
<%= form_for([@contract, @contract.statement_of_works.build]) do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :product1 %><br>
    <%= f.check_box :product1 %>
  </p>
  <p>
    <%= f.label :product2 %><br>
    <%= f.check_box :product2 %>
  </p>
    <p>
    <%= f.label :product3 %><br>
    <%= f.check_box :product3 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>